:root {
	--text-color: #ddd;
	--uhl-color: #777;
	--hero-color: #5c7;
	--contrast-color: #ff3077;
	--bg-color: #002;
	--bg-color-read: #013;
	--bg-color-transparent: #002d;
	--mono-font: "JetBrains Mono Variable";
}

html {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;

	/* if scrolling up will show white otherwise */
	background-color: var(--bg-color);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100%;

	font-family: "Libre Baskerville", serif;
	color: var(--text-color);
}

main {
	width: 700px;
	max-width: 100%;
	padding: 1em 1em;
}

code {
	font-family: var(--mono-font), sans-serif;
	
	background-color: var(--bg-color);
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;

	box-shadow: 0.1rem 0.1rem 0.2rem #0000005b;
	border: 1.5px solid #444f;
}

blockquote {
	padding-left: 4rem;
	padding-right: 2rem;
	margin: 2rem 0rem;
	position: relative;
	font-family: var(--mono-font), sans-serif;
}

blockquote ul {
	padding: 0;
	margin: 0;
}

blockquote li {
	list-style: none;
	margin-left: auto;
	margin-right: 3rem;
	margin-top: -1rem;
	width: fit-content;
	font-weight: bold;
}

blockquote::before,
blockquote::after {
	position: absolute;
	font-size: 4rem;
	line-height: 4rem;
}

blockquote::after {
	bottom: 0;
	right: 0;
	content: "\}";
}

blockquote::before {
	top:0;
	left: 0;
	content: "\{";
}

.hero {
	color: var(--hero-color);
}

.text-small {
	color: var(--contrast-color);
	font-size: 0.8rem;
	font-family: var(--mono-font), monospace;
	font-weight: bold;
}

h1,
h2,
h3 {
	color: var(--hero-color);

	font-family: var(--mono-font), monospace;
	font-weight: 600;

	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	margin-bottom: 1rem;
	line-height: 2;
}

main a {
	/* before needs pos */
	position: relative;
	font-weight: 700;
	text-decoration: underline wavy transparent;
	text-decoration-skip-ink: none;
	transition: text-decoration-color 0.2s ease-in-out;
	color: var(--contrast-color);
}

main a:hover {
	text-decoration-color: var(--hero-color);
}

main a::before {
	content: attr(href);
	position: absolute;

	opacity: 0%;
	pointer-events: none;

	line-height: 1;
	font-size: 0.7rem;
	word-break: break-all;
	width: 20rem;
	max-width: max-content;
	color: var(--text-color);

	padding: 1em 1em;
	border-radius: 0.5em;

	background-color: var(--bg-color-transparent);

	transition:
	  opacity 0.2s ease-in-out,
	  transform 0.2s ease-in-out;
}

main a:hover::before {
	visibility: visible;
	opacity: 100%;
	transform: translateY(-100%);
}

.link-cancel::before {
	content: none;
}

.code {
	background-color: var(--bg-color);
	padding: 0.5em;
	border-radius: 0.5em;
	font-family: "Fira Code Variable", monospace;
}

@media screen and (max-width: 700px) {
	nav {
		max-width: 100%;
	}
	.content {
		max-width: 100vw;
	}
	article {
		max-width: 100%;
	}

}

.animate {
	opacity: 0%;
	transition: opacity .25s ease-out;
}
.animate.show {
	opacity: 100%;
}
