:root {
	--text-color: #ddd;
	--uhl-color: #666;
	--hero-color: #5c7;
	--contrast-color: #ff3077;
	--bg-color: #000010;
	--bg-color-transparent: #000010DD;
}

html {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100%;

	font-family: "Libre Baskerville", serif;
	color: var(--text-color);
}

main {
	width: 700px;
	max-width: 100%;
	padding: 2em 1em;
}


.hero {
	color: var(--hero-color);
}

.text-small {
	color: var(--contrast-color);
	font-size: 0.8rem;
	font-family: "Fira Code Variable", monospace;
	font-weight: bold;
}

h1,
h2,
h3 {
	color: var(--hero-color);

	font-family: "Fira Code Variable", monospace;
	font-weight: 600;

	margin-top: 1.5rem;
	margin-bottom: 5px;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	margin-bottom: 1rem;
	line-height: 2rem;
}

.code {
	background-color: var(--bg-color);
	padding: 0.5em;
	border-radius: 0.5em;
	font-family: "Fira Code Variable", monospace;
}

@media screen and (max-width: 700px) {
	nav {
		max-width: 100%;
	}
	.content {
		max-width: 100vw;
	}
	article {
		max-width: 100%;
	}

}
