:root {
	--text-color: #dddddd;
	--uhl-color: #777777;
	--hero-color: #2f8df9;
	--contrast-color: #a52115;
	--bg-color: #000022;
	--bg-color-read: #001133;
	--bg-color-transparent: #000022dd;
	--bg-color-slight: #00002277;
	--mono-font: "JetBrains Mono Variable";
}

html {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;

	/* if scrolling up will show white otherwise */
	background-color: var(--bg-color);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100%;

	font-family: "Libre Baskerville", serif;
	color: var(--text-color);
}

main {
	width: 700px;
	max-width: 100%;
	padding: 2em 4em 3em 3em;
	background-color: var(--bg-color-slight);
}

code {
	font-family: var(--mono-font), sans-serif;
	font-size: 1rem;

	background-color: var(--bg-color);
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;

	box-shadow: 0.1rem 0.1rem 0.2rem #0000005b;
	border: 1.5px solid #444f;
	hyphens: none;
	overflow-wrap: normal;
}

blockquote {
	padding-left: 4rem;
	padding-right: 2rem;
	margin: 2rem 0rem;
	position: relative;
	font-family: var(--mono-font), sans-serif;
}

blockquote::before,
blockquote::after {
	position: absolute;
	font-size: 4rem;
	line-height: 4rem;
}

blockquote::after {
	bottom: 0;
	right: 0;
	content: "\}";
}

blockquote::before {
	top:0;
	left: 0;
	content: "\{";
}

.hero {
	color: var(--hero-color);
}

.text-small {
	color: var(--contrast-color);
	font-size: 0.8rem;
	font-family: var(--mono-font), monospace;
	font-weight: bold;
}

h1,
h2,
h3 {
	color: var(--hero-color);

	font-family: var(--mono-font), monospace;
	font-weight: 600;

}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
	margin-top: 2rem;
}

h3 {
	margin-top: 2rem;
}

p {
	margin-bottom: 1rem;
	line-height: 1.75;
	letter-spacing: 0.05rem;
	hyphens: auto;
	text-shadow: 0 0 1px darkgray;
}

.code {
	background-color: var(--bg-color);
	padding: 0.5em;
	border-radius: 0.5em;
	font-family: "Fira Code Variable", monospace;
}

@media screen and (max-width: 700px) {
	nav {
		max-width: 100%;
	}
	.content {
		max-width: 100vw;
	}
	article {
		max-width: 100%;
	}

}

.animate {
	opacity: 0%;
	transition: opacity .25s ease-out;
}
.animate.show {
	opacity: 100%;
}
