---
import Base from "@layouts/Base.astro";
import Link from "@components/Link.astro";
import { SOCIAL } from "@const";
const linkedin = SOCIAL.find((entry) => entry.NAME == "linkedin")!;
---

<Base
  pageTitle="experience"
  description="rozukke's list of worldly experiences"
  showPicture={false}
>
  <article>
    <h2>Under Construction &#x26A0;</h2>
    <p>
      While I haven't prettified my experience list yet, you can still check it
      out on <Link href={linkedin.HREF}>{linkedin.NAME}.</Link>
    </p>
  </article>
</Base>
