---
import Base from "@layouts/Base.astro"
---

<Base
	pageTitle="projects"
	description="rozukke's many successful projects"
	showPicture={false}
	showStatic={true}
	animateStatic={true}
>
	<article>
		<h2>Under Construction!</h2>
		<p>This page has not been created yet!</p>
	</article>
</Base>
