---
const { title } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="note">
  <h3><Icon name="mdi:information-slab-circle-outline" size="1.3rem" is:inline /> Note: {title}</h3>
  <slot />
</div>

<style>
  [data-icon] {
    display: inline-block;
    vertical-align: text-top;
  }

  .note {
    border-left: 0.25rem solid var(--contrast-color);
    background-color: #ff307740;

    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: var(--mono-font);
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: var(--contrast-color);
  }

  p {
    line-height: 1.5;
  }
</style>
