---
const {url, title, date, shortDesc} = Astro.props;
const dateFormatter = new Intl.DateTimeFormat("en-AU", {
  dateStyle: "medium",
});
---

<a href={url}>
  <div class="blog-post">
    <div>
      <h3>{title}</h3>
      <p>{shortDesc}</p>
      <span style="color: grey;">{dateFormatter.format(new Date(date))}</span>
    </div>
    <div>

    </div>
  </div>
</a>

<style>
.blog-post {
  padding: 1em 1.5em;
  border-radius: 10px;
  margin-top: 20px;

  background-color: var(--bg-color-transparent);
  color: white;
}

.blog-post h3 {
  font-size: 1.2rem;
}

.blog-post:hover {
  border: 1px solid white;
}

h3 {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-bottom: 2px;
}
</style>
