---
const { url, title, date, shortDesc } = Astro.props;
const dateFormatter = new Intl.DateTimeFormat("en-AU", {
  dateStyle: "medium",
});
---

<a href={url} class="animate link-cancel">
  <div class="blog-post">
    <div>
      <h3>{title}</h3>
      <p class="description">{shortDesc}</p>
      <span style="color: grey;">{dateFormatter.format(new Date(date))}</span>
    </div>
    <div></div>
  </div>
</a>

<style>
  .description {
    line-height: 1.5;
    margin-bottom: 0.5rem;

    color: white;
    font-weight: normal;
  }

  .blog-post {
    padding: 1em 1.5em;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-top: 20px;

    background-color: var(--bg-color-transparent);
  }

  .blog-post h3 {
    font-size: 1.2rem;
  }

  .blog-post:hover {
    border: 2px solid white;
  }

  h3 {
    margin-top: 0.5em;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  p {
    margin-bottom: 2px;
  }
</style>
